<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/dummy.style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/dummy.js"></script>
    <title id="ad-name">Playable Ad</title>
</head>

<body>
    <p hidden id="ad-version">V1.0</p>
    <p hidden id="ad-language">English</p>
    <p hidden id="user">Erkki</p>
    <p hidden id="os">iOS</p>
    <p hidden id="os-version">18</p>
    <p hidden id="device">iPhone X</p>
    <p hidden id="location">Wuhan</p>
    <p hidden id="orientation">Horizontal</p>
    <h1>Playable advertisement simulation</h1>
    <p id="p1">
        <h2>Playable Advertisement</h2>
        <button class="event">Play</button>
        <button class="event">Exit</button>
        <button class="event">Download</button><br><br>
        <button class="event">Move up</button>
        <button class="event">Move left</button>
        <button class="event">Move right</button>
        <button class="event">Move down</button><br><br>
        <button class="event">Win</button>
        <button class="event">Lose</button><br><br>
        <button class="event">Download</button>
    </p>
    <button class="link"><a href="/">Home</a></button>
</body>

</html>