<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/dummy.style.css" />
    <title>Insert Advertisement</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn1").click(function () {
                var typeList = ["Step 1", "Step 2", "Step 3", "Step 4", "Step 5", "Step 6", "Download Game"];
                var jsonStr = JSON.stringify(typeList);
                var advertisement = {
                    name: "Playable Ad",
                    version: "V1.0",
                    language: "English",
                    types: jsonStr,
                };

                $.ajax({
                    type: "POST",
                    url: "/api/insert/ad",
                    data: advertisement,
                    success: function (result) {
                    }
                });
            });

            $("#btn2").click(function () {
                var advertisement = {
                    name: $("#ad-name").val(),
                };

                $.ajax({
                    type: "POST",
                    url: "/api/ad",
                    data: advertisement,
                    success: function (result) {
                    }
                });
            });

            $("#btn3").click(function () {
                var typeList = [];
                $("ol li").each(function () {
                    var $type = $(this).find("input");
                    typeList.push($type.val());
                });

                var jsonStr = JSON.stringify(typeList);
                var advertisement = {
                    name: $("#ad-name-version").val(),
                    version: $("#ad-version").val(),
                    language: $("#ad-language").val(),
                    types: jsonStr,
                };

                $.ajax({
                    type: "POST",
                    url: "/api/insert/version",
                    data: advertisement,
                    success: function (result) {
                    }
                });
            });

            $("#btn4").click(function () {
                $("#type-list").append('<li><div class="input"><label for="version">Event type: </label><input type="text" id="type" name="type" value="Click"><br><br></div></li>');
            });

            $("#btn5").click(function () {
                var events = [];
                $("#event-list li").each(function () {
                    var $event = $(this).find("input");
                    events.push($event.val());
                });

                var jsonStr = JSON.stringify(events);
                var data = {
                    name: $("#name").val(),
                    version: $("#version").val(),
                    language: $("#language").val(),
                    session_count: $("#session-count").val(),
                    event_count: $("#event-count").val(),
                };

                $.ajax({
                    type: "POST",
                    url: "/api/dummyevents",
                    data: data,
                    success: function (result) {
                    }
                });
            });
        });
    </script>
</head>

<body>
    <h1>Insert Data</h3>
        <section class="insert-ad">
            <h2>Use this to insert Advertisement if not already in database</h4>
                <button id="btn1">Insert advertisement for Playable Ad</button><br><br>
                <h2>Use the default values for testing</h5>
                    <div class="input">
                        <label for="name">Advertisement Name:</label>
                        <input type="text" id="ad-name" name="name" value="Test Advertisement"><br><br>
                    </div>
                    <button id="btn2">Insert Ad</button><br><br>
                    <div class="input">
                        <label for="name">Advertisement Name:</label>
                        <input type="text" id="ad-name-version" name="name" value="Test Advertisement"><br><br>
                    </div>
                    <div class="input">
                        <label for="version">Advertisement Version:</label>
                        <input type="text" id="ad-version" name="version" value="V87"><br><br>
                    </div>
                    <div class="input">
                        <label for="language">Advertisement Language:</label>
                        <input type="text" id="ad-language" name="language" value="English"><br><br>
                    </div>
                    <ol id="type-list">
                        <li>
                            <div class="input">
                                <label for="version">Event type:</label>
                                <input type="text" id="event-types" name="types" value="Click"><br><br>
                            </div>
                        </li>
                    </ol>

                    <button id="btn3">Insert Version</button>
                    <button id="btn4">More types</button>
        </section>

        <section class="insert-events">
            <h2>Use this to insert user sessions and events</h4>
                <h2>Use the default values for testing</h5>
                    <div class="input">
                        <label for="name">Advertisement Name:</label>
                        <input type="text" id="name" name="name" value="Test Advertisement"><br><br>
                    </div>
                    <div class="input">
                        <label for="version">Advertisement Version:</label>
                        <input type="text" id="version" name="version" value="V87"><br><br>
                    </div>
                    <div class="input">
                        <label for="session-count">User session count:</label>
                        <input type="text" id="session-count" name="session-count" value="10"><br><br>
                    </div>
                    <div class="input">
                        <label for="event-count">Event count:</label>
                        <input type="text" id="event-count" name="event-count" value="10"><br><br>
                    </div>
                    <button id="btn5">Insert</button><br><br>
        </section>
        <button class="link"><a href="/">Home</a></button>
</body>

</html>