<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/dummy.style.css" />
    <title>Insert Advertisement</title>
</head>

<body>
    <h1>Insert Data</h3>
        <section class="insert-ad">
            <h2>Use this to insert Advertisement if not already in database</h4>
                <h2>Use the default values for testing</h5>
                    <form action="/insert/ad" method="post">
                        <div class="input">
                            <label for="name">Advertisement Name:</label>
                            <input type="text" id="name" name="name" value="Test Advertisement"><br><br>
                        </div>
                        <div class="input">
                            <label for="version">Advertisement Version:</label>
                            <input type="text" id="version" name="version" value="V87"><br><br>
                        </div>
                        <div class="input">
                            <label for="language">Advertisement Language:</label>
                            <input type="text" id="language" name="language" value="English"><br><br>
                        </div>
                        <button type="submit">Insert</button>
                    </form>
        </section>
        <section class="insert-events">
            <h2>Use this to insert user sessions and events</h4>
                <h2>Use the default values for testing</h5>
                    <form action="/insert/dummyevents" method="post">
                        <div class="input">
                            <label for="name">Advertisement Name:</label>
                            <input type="text" id="name" name="name" value="Test Advertisement"><br><br>
                        </div>
                        <div class="input">
                            <label for="version">Advertisement Version:</label>
                            <input type="text" id="version" name="version" value="V87"><br><br>
                        </div>
                        <div class="input">
                            <label for="session_count">User session count:</label>
                            <input type="text" id="session_count" name="session_count" value="10"><br><br>
                        </div>
                        <div class="input">
                            <label for="event_count">Event count:</label>
                            <input type="text" id="event_count" name="event_count" value="10"><br><br>
                        </div>
                        <button type="submit">Insert</button><br><br>
                    </form>
        </section>
        <button class="link"><a href="/">Home</a></button>
</body>

</html>