<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/dummy.style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/javascripts/dummy.js"></script>
    <title id="ad-name">Test Advertisement</title>
</head>

<body>
    <p hidden id="ad-version">V87</p>
    <p hidden id="ad-language">English</p>
    <p hidden id="user">Erkki</p>
    <p hidden id="os">iOS</p>
    <p hidden id="os-version">18</p>
    <p hidden id="device">iPhone X</p>
    <p hidden id="location">Wuhan</p>
    <p hidden id="orientation">Horizontal</p>
    <h1>Hello! I am a test site! :)</h1>
    <p id="p1">
        <h2>Advertisement</h2>
        <button class="event">Step 1</button>
        <button class="event">Step 2</button>
        <button class="event">Step 3</button>
        <button class="event">Step 4</button>
        <button class="event">Step 5</button>
        <button class="event">Step 6</button>
        <button class="event">Download Game</button>
    </p>
</body>

</html>