<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css">
	<link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css" media="screen,projection" />
	<script type="text/javascript" src="/javascripts/materialize.min.js"></script> -->
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/dummyad">Insert advertisement</a></li>
                <li><a href="/dummy">Playable Ad</a></li>
            </ul>
        </div>
    </nav>
    <div class="container center">
        <h1>
            <%= title %>
        </h1>
        <p>Welcome to
            <%= title %>
        </p>
    </div>

    <span id="selectors"></span>
    <span id="funnel_graph"></span>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/babel" src="/javascripts/funnel.js"></script>
</body>

</html>